<main class="main">
  <div class="container">
    <%- partial('common/main-title') %>
    <div class="main__image">
      <img class="main-image" src="<%= page.banner %>" width="400" alt="Базовый курс игры на гитаре">
    </div>
    <div class="main__content">
      <div class="content">
        <%- page.content %>
      </div>
    </div>
  </div>
  <div class="attributes">
    <div class="container">
      
      <div class="attribute">
        <div class="attribute__icon">
          <svg class="attribute__icon-image">
            <%- partial('common/use-in-svg', {icon: "family"}) %>
          </svg>
        </div>
        <h3 class="attribute__title">Возраст</h3>
        <div class="attribute__value">
          <% if(page.age != "") { %><%= page.age %><% } else { %>Любой<% } %>
        </div>
      </div>
      
      <div class="attribute">
        <div class="attribute__icon">
          <svg class="attribute__icon-image">
            <%- partial('common/use-in-svg', {icon: "group"}) %>
          </svg>
        </div>
        <h3 class="attribute__title">Состав</h3>
        <div class="attribute__value">
          <% console.log(page.members) %>
          <ul class="attribute__value-list">
            <li class="attribute__value-item">индивидуальное</li>
            <li class="attribute__value-item">мини-группа</li>
          </ul>
        </div>
      </div>
      
      <div class="attribute">
        <div class="attribute__icon">
          <svg class="attribute__icon-image">
            <%- partial('common/use-in-svg', {icon: "place"}) %>
          </svg>
        </div>
        <h3 class="attribute__title">Место занятий</h3>
        <div class="attribute__value">
          <ul class="attribute__value-list">
            <li class="attribute__value-item">в школе</li>
            <li class="attribute__value-item">на дому</li>
          </ul>
        </div>
      </div>
      
      <div class="attribute">
        <div class="attribute__icon attribute__icon_accent attribute__icon_cost">
          <svg class="attribute__icon-image attribute__icon-image_accent attribute__icon-image_cost">
            <%- partial('common/use-in-svg', {icon: "cost"}) %>
          </svg>
        </div>
        <h3 class="attribute__title">Стоимость курса</h3>
        <div class="attribute__value">от 3500 руб. в месяц</div>
        <a href="#" class="attribute__link-more" id="link-more-price">Подробнее</a>
      </div>
      
    </div>
  </div>
  <div class="more-course">
    <div class="container">
      <section class="more-course__program program">
        <h2 class="program__title">Программа курса</h2>
        <p class="program__lesson">
          <span class="program__lesson-number">8</span>&nbsp;
          <span class="program__lesson-link" data-toggle="popover" data-placement="bottom" data-content="Продолжительность одного занятия 60 минут" data-original-title="" title="">занятий</span>
          <span class="program__lesson-separator">/</span>
          <span class="program__lesson-number">1</span>&nbsp;месяц
        </p>
        <ul class="program__list">
          <li class="program__list-item">устройство гитары</li>
          <li class="program__list-item">постановка рук, физиология игры на инструменте</li>
          <li class="program__list-item">изучение основных технических приемов</li>
          <li class="program__list-item">способы настройки гитары</li>
          <li class="program__list-item">игра аккомпанемента, базовые аккорды</li>
          <li class="program__list-item">исполнение мелодических композиций</li>
          <li class="program__list-item">упражнения на развитие музыкального слуха</li>
        </ul>



      </section>
      <section class="more-course__result result">
        <h2 class="result__title">Чему Вы научитесь, пройдя курс</h2>
        <div class="result__text">
          <p>Закончив этот курс обучения, вы сможете исполнить несколько мелодических пьес и порадовать своих близких песнями под аккомпанемент в собственном исполнении</p>
        </div>
      </section>
    </div>
  </div>
  <section class="price-more" id="price-more">
    <div class="container">
      <h2 class="price-more__title">Стоимость курса</h2>
      <div class="price-more__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt itaque vero consequuntur recusandae a nobis quas quo ex voluptates ullam inventore quam omnis excepturi aliquam harum autem perspiciatis officiis amet quasi corporis delectus corrupti
          esse sit veniam doloribus beatae eveniet!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nulla impedit aliquid rem mollitia consequuntur possimus totam accusamus labore sint maiores non error odio repudiandae!</p>
      </div>
    </div>
  </section>
</main>
