<!DOCTYPE html>
<html lang="ru">


<%- partial('common/head') %>
<body>
  <%- partial('common/header') %>
  <%- partial('common/breadcrumb') %>
  <main class="main">
    <div class="container">
      <div class="main__title">
        <% if(is_home()) { %>
          <h1 class="title">Главная</h1>
        <% } else { %>
          <h1 class="title"><%= page.title %></h1>
        <% } %>
        <div class="after-title">
          <% if(page.subtitle) { %>
            <div class="after-title__place">в Химках</div>
          <% } %>
          <div class="after-title__share"><div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,viber,whatsapp,skype,telegram" data-counter=""></div></div>
        </div>
      </div>
      <%- body %>
    </div>
  </main>
  <%- partial('common/form') %>
  <%- partial('common/contacts') %>
  <%- partial('common/map') %>
  <%- partial('common/footer') %>
  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
  <script src="//yastatic.net/share2/share.js"></script>
  <script async src="/assets/js/commons.js"></script>

</body>

</html>
