<div class="contacts">
  <ul class="contacts-list">
    <li class="contacts-list-item">
      <div class="contacts-list-item__icon">
        <svg class="contacts-list-item__icon-image">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#phone"></use>
        </svg>
      </div>
      <p class="contacts-list-item__phone"><%= site.data.company.phone %></p>
      <a href="#order-back-call" class="contacts-list-item__link" data-toggle="modal" data-target="#order-back-call">Заказать обратный звонок</a>
    </li>
    <li class="contacts-list-item">
      <div class="contacts-list-item__icon">
        <svg class="contacts-list-item__icon-image">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#map-marker"></use>
        </svg>
      </div>
      <address class="contacts-list-item__address">
          <p class="contacts-list-item__strong"><%= site.data.company.city %></p>
          <p><%= site.data.company.address %></p>
      </address>
    </li>
    <li class="contacts-list-item">
      <div class="contacts-list-item__icon">
        <svg class="contacts-list-item__icon-image contacts-list-item__icon-image_email">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#email"></use>
        </svg>
      </div>
      <p class="contacts-list-item__email"><%= site.data.company.email %></p>
      <a href="mailto:<%= site.data.company.email %>" class="contacts-list-item__link">Написать нам письмо</a>
    </li>
  </ul>
</div>